<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973994318175-14r8ecd25cchtk2n34lnslrcj4rc53km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973994318175-14r8ecd25cchtk2n34lnslrcj4rc53km</string>
	<key>API_KEY</key>
	<string>AIzaSyAKqrkxyfV03IwEdNIedJd5kk1-3OVVOTY</string>
	<key>GCM_SENDER_ID</key>
	<string>973994318175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.geidea.GeideaPaymentObjC</string>
	<key>PROJECT_ID</key>
	<string>geidea-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>geidea-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973994318175:ios:d93a35fe5032c0b4e23eea</string>
	<key>DATABASE_URL</key>
	<string>https://geidea-sdk.firebaseio.com</string>
</dict>
</plist>